/* sizing columns */
#edge-border {
   border-right: solid 1px black;
   margin-top: 12px;
   height: 100%;
   overflow: auto;
   padding-bottom: 100vh;
}
/* font styles */
#search-text, .search {
   font-size: 35px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.columns {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* background colors and shadow on the navigation */
body {
   background: rgb(95,213,187);
   background: linear-gradient(156deg, rgba(95,213,187,1) 27%, 
   rgba(162,142,101,1) 54%, rgba(231,70,12,1) 100%);
}

#nav {
   background: rgb(194,52,86);
background: linear-gradient(39deg, rgba(194,52,86,1) 27%, rgba(116,77,222,1) 54%, rgba(12,211,231,1) 100%);
}


.has-image-centered {
   margin-left: auto;
   margin-right: auto;
 }

 .center-artist {
    margin-left: 5.5rem;
    margin-bottom: 1rem
 }

#shadow-box {
   box-shadow: 10px 5px 5px black;
}
